#main{
  background-color: #161616;
  // #slime-bg{
  //   .slime-01{
  //     img{
  //       position: absolute;
  //       top: -5%;
  //       width: 75%;
  //       height: 97%;
  //     }
  //   }
  // }
  #home{
    .content{
      align-items: center;
      display: flex;
      height: 100vh;
      justify-content: center;
      .banner-img{
        img{
          height: 230px;
        }
      }
      .banner-text{
        .title{
          @include text(#fff, $montserrat, 50px, bold);
          margin-bottom: 20px;
        }
        .description{
          @include text(#fff, $montserrat, 22px, normal);
        }
      }
    }
  }
  #reasons-to-purchase{
          // border: 1px solid #fff;  
          min-height: 80vh;   
    .content{
          // border: 1px solid #fff;  
      padding: 100px 20px;
      .title{
        @include flexJustify(center);
        @include text(#fff, $montserrat, 30px, bold);
        margin-bottom: 30px;
      }
      .items{
        .item{
          // border: 1px solid #fff;
          margin-top: 20px;
          padding: 20px;
          @include flexAlign(center);
          .item-img{
            // border-radius: 20px;
            img{
              // border-radius: 0px;
            }
          }
          .item-title{
            @include text(#fff, $montserrat, 30px, normal);
            margin-bottom: 10px;
          }
          .item-description{
            @include text(#fff, $montserrat, 18px, normal);
          }
        }
      }
    }
  }
}